
body {
  padding-top: 50px;
}

hr {
	padding-bottom: 0px;
	padding-top: 0px; 
	height: 2px;
	background-color: #000;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.thick-hr {
	line-height: .5;
	padding-bottom: 0px;
	padding-top: 0px;
	height: 5px;
	background-color: #000;
}